
/* ===[ accordion css reset ]=== */
.accordion * {border: 0;line-height: 1;list-style: none;margin: 0;padding: 0;}

/* ===[ accordion ]=== */
.accordion {
    height: 400px;
    max-width: 960px;	/* Do not replace max-width with width or you'll lose responsiveness */
    outline: none !important;
    position: relative;
}
.dropShadow {width:100%}
/* Do not change anything in this rule */
.accordion .jAccordion-slidesWrapper {height: 100%;overflow: hidden;position: relative;width: 100%;}
/* Do not change display, overflow or position */
.accordion .jAccordion-slide {
    display: block;
    overflow: hidden;
    position: relative;
}
/* Opera 10.xx bug fix
 * More info: http://css-lab.com/bug-test/opera-ap-bugfix.html
 */
.accordion .jAccordion-slide:after {content: "";float: left;height: 1%;width: 0;}

/* ===[ Custom elements ]=== */
.accordion .title,
.accordion .caption,
.accordion .description {
    cursor: default;
    background: transparent url(../img/jaccordion/transparent_background.png) repeat top left;
    overflow: hidden;
    position: absolute;
}

.accordion .title {
    bottom: 30px;
    left: 0;
    width: 180px;
    -moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;			/* FF1+ */
    -webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;	/* Safari 3-4, iOS 1-3.2, Android <=1.6 */
    border-top-right-radius: 5px;border-bottom-right-radius: 5px;					/* Opera 10.5, IE9, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
}

.accordion .caption {
    text-align: center;
    white-space: nowrap;
}

.accordion .caption,
.accordion .description {
    -moz-border-radius: 3px; 	/* FF1+ */
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android <=1.6 */
    border-radius: 3px; 		/* Opera 10.5, IE9, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
}
.accordion .description {
    bottom: 2%;
    left: 1%;
    right: 1%;
}

/* Preloader */
.accordion .preloader {
    background: url(../img/jaccordion/ajax-loader.gif) no-repeat center center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion .prevBtn,
.accordion .nextBtn {
    cursor: pointer;
    height: 52px;
    position: absolute;
    top: 43%;
    width: 28px;
    z-index: 9999;
}

.accordion .prevBtn {
    background: url(../img/jaccordion/buttons_sprite.png) no-repeat top left;
    left: -28px;
}
.accordion .prevBtn:hover {background: url(../img/jaccordion/buttons_sprite.png) no-repeat right top}

.accordion .nextBtn {
    background: url(../img/jaccordion/buttons_sprite.png) no-repeat bottom left;
    right: -28px;
}
.accordion .nextBtn:hover {background: url(../img/jaccordion/buttons_sprite.png) no-repeat right bottom}

.accordion .timer {
    background: #FF0000;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    width: 0;
    z-index: 9999;
}
/* ===[ End of custom elements ]=== */

/* ===[ Default font styles ]=== */
.accordion h1,
.accordion h2,
.accordion h3 {
    color: #FFF;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: normal;
    padding: 7px 15px;
}

.accordion h1 {font-size: 17px;line-height: 1.7;}
.accordion h2 {font-size: 15px;line-height: 1.5;}
.accordion h3 {font-size: 14px;line-height: 1.3;}
.accordion p {
    color: #CCC;
    font: 12px Georgia, "Times New Roman", Times, serif;
    padding: 0 15px 7px;
}
/* ===[ End of default font styles ]=== */

/* ===[ Custom font styles ]=== */
.accordion h1.caption,
.accordion h2.caption,
.accordion h3.caption {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 1;
}

.accordion h1.caption {font-size: 28px}
.accordion h2.caption {font-size: 24px}
.accordion h3.caption {font-size: 18px}

.accordion p a {
    background: none;
    color: #0099FF;
    font-weight: bold;
    padding: 0;
}
.accordion p a:hover {
    background: none;
    text-decoration: underline;
}
/* ===[ End of custom font styles ]=== */

/* ===[ Rules used when JS is disabled ]===
 * If you don't care about JS fallback you can remove this entire section.
 * Percents are used to keep the responsiveness for the JS fallback even though it can sometimes make the accordion look a bit jumpy.
 */

/* Rule for inactive slide */
.accordion.noJS .jAccordion-slide {
    float: left;	/* Remove this rule if using vertical accordion */
    margin-left: 0px;	/* Spacing - I do not recommend to use spacing for horizontal accordion (replace with margin-top if using vertical accordion) */
    width: 20%;	/* width = 100% / number of slides (replace width with height if using vertical accordion) */
}
/* Shrinked slide size
 * shrinked slide size in percents = (100% - active slide size in percents) / (number of slides - 1);
 */
.accordion.noJS .jAccordion-slidesWrapper:hover .jAccordion-slide {width: 5.45%}
/* Active slide size
 * active slide size in percents = active slide size in px / accordion size * 100%;
 */
.accordion.noJS .jAccordion-slidesWrapper .jAccordion-slide:hover {width: 78.2%}
.accordion.noJS .jAccordion-slide .title {display: block}
.accordion.noJS .jAccordion-slide:hover .title {display: none}
.accordion.noJS .jAccordion-slide .description,
.accordion.noJS .jAccordion-slide .caption {display: none}
.accordion.noJS .jAccordion-slide:hover .description,
.accordion.noJS .jAccordion-slide:hover .caption {display: block}
/* ===[ End of rules used when JS is disabled ]===*/

/* ===[ Responsive ]=== */
/* iPad - screen width from 768px up to 1023px */
@media only screen and (min-width:768px) and (max-width:1023px) {
    .accordion h1 {font-size: 17px;padding: 6px 10px;}
    .accordion h2 {font-size: 15px;padding: 6px 10px;}
    .accordion h3 {font-size: 14px;padding: 6px 10px;}
    .accordion h1.caption {font-size: 23px}
    .accordion h2.caption {font-size: 19px}
    .accordion h3.caption {font-size: 16px}
    .accordion p {padding: 0 10px 6px;}
}

/* Small tablet - screen width from 480px up to 767px */
@media only screen and (min-width:480px) and (max-width:767px) {
    .accordion h1 {font-size: 16px;padding: 2px 6px;}
    .accordion h2 {font-size: 15px;padding: 2px 6px;}
    .accordion h3 {font-size: 13px;padding: 2px 6px;}
    .accordion h1.caption {font-size: 18px}
    .accordion h2.caption {font-size: 16px}
    .accordion h3.caption {font-size: 14px}
    .accordion p {padding: 0 6px 2px;}
    .accordion .prevBtn,
    .accordion .nextBtn {top: 40%}
}

/* iPhone and small phones - screen width up to 479px */
@media only screen and (max-width:479px) {
    .accordion h1 {font-size: 15px;padding: 0 3px;}
    .accordion h2 {font-size: 14px;padding: 0 3px;}
    .accordion h3 {font-size: 12px;padding: 0 3px;}
    .accordion h1.caption {font-size: 17px;font-weight:normal;}
    .accordion h2.caption {font-size: 15px;font-weight:normal;}
    .accordion h3.caption {font-size: 13px;font-weight:normal;}
    .accordion p {padding: 0 4px 2px;}
    .accordion .prevBtn,
    .accordion .nextBtn {top: 30%}
}
/* ===[ End of responsive headings ]=== */