@import url('http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic');

body {
    background-image: url('../img/bg.png');
}

.btn {
    background-image: none !important;
    text-shadow: none;
}

.center-text {
    text-align: center;
}

.hero-unit {
    background-image: url('../img/bg-1.png');
    padding: 2%;
}

.hero-unit .search {
    position: relative;
}

.hero-unit .search * {
    font-family: 'Amaranth' !important;
}

.hero-unit .search .big-search-box {
    background-image: url('../img/bg-2.png');
    width: 98%;
    padding: 1%;
    border-radius: 6px;
}

.hero-unit .search .big-search-text-wrapper {
    margin: 0px;
    padding-right: 180px;
    background-color: white;
    border-radius: 6px;
}

.hero-unit .search .big-search-text {
    width: 100%;
    font-size: 1.8em;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0px;
    line-height: 50px;
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    color: #6b0199;
    -webkit-transition: none;
}

.hero-unit .search .big-search-button {
    position: absolute;
    right: 2%;
    top: 20%;
    height: 60%;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 3px 3px 10px black;
}

.hero-unit .search .big-search-button:hover {
    color: yellow;
}

.hero-unit .search-letters {
    margin-bottom: 10px;
    text-align: center;
    font-size: 10px;
    overflow: hidden;
    height: 44px;
    position: relative;
}
.hero-unit .search-letters .arrow.arrow-left{
    left: 0px;
}
.hero-unit .search-letters .arrow.arrow-right{
    right: 0px;
    background-position: 30px 30px;
}

.hero-unit .search-letters.with-arrows{
    padding-left: 20px;
    padding-right: 20px;
}
.hero-unit .search-letters.with-arrows .arrow{
    display: block;
}

.hero-unit .search-letters .arrow{
    display: none;
    position: absolute;
    font-size: 30px;
    top: 0px;
    bottom: 0px;
    padding-top: 6px;
    z-index: 2;
    width: 30px;
    background-image: url('../img/slider-arrow.png');
}

.hero-unit .search-letters .search-letters-wrapper {
    width: 900px;
    position: relative;
}

.hero-unit .search-letters a.btn {
    height: 35px;
    line-height: 35px;
    width: 25px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 0px;
    background-color: white !important;
    background-position: none !important;
    background-image: none;
    font-weight: bold;
    font-family: 'Amaranth' !important;
    margin: 1px;
}

.hero-unit .search-letters a.btn:hover {
    background-color: purple !important;
    color: white;
}

.btn.btn-purple {
    background-color: #6b0199;
}

.content_wrapper {
    background: none !important;
}

footer{
    background: none;
    border: none;
}
