@import url('http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic');


body {
	background-image: url(../img/bg.png);
}

.center-text{
	text-align: center;
}

.hero-unit{
	background-image: url('../img/bg-1.png');
	padding:2%;
}

.hero-unit .search{
	position: relative;
}
.hero-unit .search *{
	font-family: 'Amaranth'!important;
}

.hero-unit .search .big-search-box{
	background-image: url('../img/bg-2.png');
	width: 98%;
	padding: 1%;
	border-radius: 6px;
}


.hero-unit .search .big-search-text-wrapper{
	margin: 0px;
	padding-right: 180px;
	background-color: white;
	border-radius: 6px;
}

.hero-unit .search .big-search-text{
	width: 100%;
	font-size: 160%;
	height: 100%;
	padding: 2%;
	margin: 0px;
	outline: none;
	border:none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-moz-transition: none;
	color: #6b0199;
	-webkit-transition: none;
}

.hero-unit .search .big-search-button{
	position: absolute;
	right: 2%;
	top: 20%;
	height: 60%;
	width: 150px;
	font-size: .8em;
	font-weight: bold;
	text-shadow: 3px 3px 10px black;
}
.hero-unit .search .big-search-button:hover{
	color: yellow;
}
.hero-unit .search-letters{
	margin-bottom: 10px;
	text-align: center;
}
.hero-unit .search-letters a{
	height: 40px;
	line-height: 40px;
	width: 27px;
	text-transform: capitalize;
	font-size: 20px;
	padding: 0px;
	background-color: white !important;
	background-position: none !important;
	background-image: none;
	font-weight: bold;
}

.hero-unit .search-letters a:hover{
	background-color: purple !important;
	color: white;
}
