<% content_for :content do %>
<script type="text/javascript" src="<%= assets 'js', 'jquery.jaccordion' %>"></script>
<link type="text/css" rel="stylesheet" href="<%= assets 'css', 'jaccordion' %>"/>
<script type="text/javascript">
$(document).ready(function () {
	$('.accordion').jAccordion({
		activeSlideSize: 650,
		spacing: 3,
		sticky: true,
		autoplay: true,
		autoplayInterval: 3000,
		arrowKeysNav: true,
		nextBtn: $('.nextBtn'),
		prevBtn: $('.prevBtn'),
		ready: function () {
			$('.preloader', this.$accordion).remove();	//Comment this line to see the preloader if testing locally.
			$('.jAccordion-slideWrapper', this.$accordion).append('<div class="timer"></div>');	//Include timer inside every slide
			$('.prevBtn', this.$accordion).animate({left: 0}, 500);
			$('.nextBtn', this.$accordion).animate({right: 0}, 500);
		},
		onSlideStartClosing: function (e) {
			$('.timer', e.$slide).stop(true).fadeTo(200, 0);	//Fade out timer of closing slide
		},
		onSlideOpened: function (e) {
			$('.timer', e.$slide).css({width: 0, 'opacity': 0.5}).stop(true);		//Set timer to starting state
			/* If option 'pauseOnHover' is enabled and cursor is not over accordion start timer of active slide
			 * or option 'pauseOnHover' is disabled.
			 * Note: Value 5000 has to be same as value of option 'autoplayInterval' which is set a few lines above.
			 */
			if (!this.isPaused()) {
				$('.timer', e.$slide).animate({width: '100%'}, 3000, 'linear');
			}
					   },
onPause: function () {
			 $('.timer', this.getActiveSlide()).stop(true);	//Pause animation of timer
		 },
onResume: function (e) {
			  /* Resume animation of timer.
			   * Note: It's necessary to resume the animation only if no slide is animated, imagine this situation:
			   * User moves his cursor over non-open slide - cursor is over accordion so autoplay pauses and then user
			   * moves his cursor off accordion before the opening slide is fully open so autoplay starts and onResume()
			   * callback is executed and animation of timer starts, which is too early because opening slide is not fully open.
			   */
			if (!this.isAnimated()) {
				$('.timer', this.getActiveSlide()).stop(true).animate({'width': '100%'}, e.remainingTime, 'linear');
			}
		}
	});

});

</script>
<div class="accordion noJS" style="margin: 0 auto">
	<div class="preloader"></div>
	<div class="jAccordion-slidesWrapper">
		<div class="prevBtn"></div>
		<div class="nextBtn"></div>
		<div class="jAccordion-slide">
			<h1 class="caption" data-initevent="onSlideOpened" data-movedirection="top" data-offset="-10%" data-fade="true" style="top:10%;left:10%;">Mussum
				ipsum cacilds</h1>
			<span class="description" data-initevent="onSlideOpened" data-movedirection="left" data-offset="10%" data-fade="true">
				<h1>Cacildis</h1>
				<p>Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.</p>
			</span>

			<img src="http://placekitten.com/650/380" width="750" height="400" alt="slide1" class="jAccordion-img"/>
		</div>
		<div class="jAccordion-slide">
			<h1 class="caption" data-initevent="onSlideOpened" data-movedirection="top" data-offset="-10%" data-fade="true" style="top:10%;left:10%;">Mussum
				ipsum cacilds</h1>
			<span class="description" data-initevent="onSlideOpened" data-movedirection="left" data-offset="10%" data-fade="true">
				<h1>Cacildis</h1>
				<p>Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.</p>
			</span>
			<img src="http://placekitten.com/650/380" width="750" height="400" alt="slide2" class="jAccordion-img"/>
		</div>
		<div class="jAccordion-slide">
			<h1 class="caption" data-initevent="onSlideOpened" data-movedirection="top" data-offset="-10%" data-fade="true" style="top:10%;left:10%;">Mussum
				ipsum cacilds</h1>
			<span class="description" data-initevent="onSlideOpened" data-movedirection="left" data-offset="10%" data-fade="true">
				<h1>Cacildis</h1>
				<p>Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.</p>
			</span>
			<img src="http://placekitten.com/650/380" width="750" height="400" alt="slide3" class="jAccordion-img"/>
		</div>
		<div class="jAccordion-slide">
			<h1 class="caption" data-initevent="onSlideOpened" data-movedirection="top" data-offset="-10%" data-fade="true" style="top:10%;left:10%;">Mussum
				ipsum cacilds</h1>
			<span class="description" data-initevent="onSlideOpened" data-movedirection="left" data-offset="10%" data-fade="true">
				<h1>Cacildis</h1>
				<p>Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.</p>
			</span>
			<img src="http://placekitten.com/650/380" width="750" height="400" alt="slide4" class="jAccordion-img"/>
		</div>
		<div class="jAccordion-slide">
			<h1 class="caption" data-initevent="onSlideOpened" data-movedirection="top" data-offset="-10%" data-fade="true" style="top:10%;left:10%;">Mussum
				ipsum cacilds</h1>
			<span class="description" data-initevent="onSlideOpened" data-movedirection="left" data-offset="10%" data-fade="true">
				<h1>Cacildis</h1>
				<p>Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.</p>
			</span>
			<img src="http://placekitten.com/650/380" width="750" height="400" alt="slide5" class="jAccordion-img"/>
		</div>
	</div>
</div>
<div>
<div class="flexslider carousel" style="margin-top: 20px">
	<ul class="slides">
		<li>
			<a href='http://www.guiadolugar.com.br' target='_blank'><img width='180' height='170' name='imagem1' src='images/publicidades/guiadolugar01.gif' border='0'></a>
		</li>
		<li>
			<a href='http://www.guiadolugar.com.br' target='_blank'><img width='180' height='170' name='imagem1' src='images/publicidades/guiadolugar01.gif' border='0'></a>
		</li>
		<li>
			<a href='http://www.guiadolugar.com.br' target='_blank'><img width='180' height='170' name='imagem1' src='images/publicidades/guiadolugar01.gif' border='0'></a>
		</li>
		<li>
			<a href='http://www.guiadolugar.com.br' target='_blank'><img width='180' height='170' name='imagem1' src='images/publicidades/guiadolugar01.gif' border='0'></a>
		</li>
		<li>
			<a href='http://www.magnis.com.br' target='_blank'><img width='180' height='170' name='imagem1' src='images/publicidades/guiadolugar01.gif' border='0'></a>
		</li>
		<li>
			<a href='www.guiadolugar.com.br' target='_blank'><img width='180' height='170' name='imagem1' src='images/publicidades/guiadolugar01.gif' border='0'></a>
		</li>
		<li>
			<a href='www.guiadolugar.com.br' target='_blank'><img width='180' height='170' name='imagem1' src='images/publicidades/guiadolugar01.gif' border='0'></a>
		</li>
		<li>
			<a href='www.guiadolugar.com.br' target='_blank'><img width='180' height='170' name='imagem1' src='images/publicidades/guiadolugar01.gif' border='0'></a>
		</li>
		<li>
			<a href='www.guiadolugar.com.br' target='_blank'><img width='180' height='170' name='imagem1' src='images/publicidades/guiadolugar01.gif' border='0'></a>
		</li>
		<li>
			<a href='www.guiadolugar.com.br' target='_blank'><img width='180' height='170' name='imagem1' src='images/publicidades/guiadolugar01.gif' border='0'></a>
		</li>
	</ul>
</div>
<div class="row-fluid">
	<div class="module_cont module_iconboxes span4">
		<div class="shortcode_iconbox" style="height:280px">
			<h4>Facebook aqui</h4>
		</div>
	</div>
	<div class="module_cont module_iconboxes span4">
		<div class="shortcode_iconbox" style="height:280px">
			<div class="ico" style="margin-left:0px">
				<i class="icon-bar-chart"></i>
			</div>
			<div style="text-align:center">
				<h4>Anuncie o seu negócio no maior guia comercial da cidade!</h4>
				<a href="#" class="btn btn-large btn-purple" style="position:absolute; bottom:20px;width:150px;left:-94px;margin-left:50%;">ANUNCIE AQUI</a>
			</div>
		</div>
	</div>
	<div class="module_cont module_iconboxes span4">
		<div class="shortcode_iconbox" style="height:280px">
			<div class="ico" style="margin-left:0px">
				<i class="icon-bullseye"></i>
			</div>
			<div style="text-align:center">
				<h4>O guia é o maior jornal de anúncios da região, comprando um anúncio ganhe grátis o anúncio na internet!</h4>
			</div>
			<a href="#" class="btn btn-large btn-purple" style="position:absolute; bottom:20px;width:150px;left:-94px;margin-left:50%;">ANUNCIE AQUI</a>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('.flexslider').flexslider({
        animation: "slide",
        animationLoop: true,
        itemWidth: 170,
        itemMargin: 5,
        minItems: 2,
        maxItems: 5,
		randomize:false,
		pauseOnAction: false,
        start: function(slider){
          $('body').removeClass('loading');
        }
     });
});
</script>
<% end %>
<%= l :'layout.with-search' %>
